.nav-wrapper > a > img {
    max-height: 56px;
    max-width: 100%;
}

#about-marketplace {
    img { 
        width: 100%;
    }
        
}

.font-2{
    font-family: $font-header;
}

.parallax-container{ 
    height: 50px;
}
div.row {
    margin:0
}

.transparentBG {
    background-color: rgba(0,0,0,.01) !important;
}