$carousel-height: 400px;
$carousel-item-height: $carousel-height ;
$carousel-item-width: 100vw;


.carousel-item {
    visibility: hidden;
    width: $carousel-item-width !important;
    height: $carousel-item-height !important;
    position: absolute;
    top: 0;
    left: 0;

    & > img {
      width: 100%;
    }

}

#carousel-element {
    padding: 0 !important;
}

div.carousel-text { 
    background-color: rgba(0,0,0,.6);
    transform: translate(0, 150%);

    h2 {
        opacity: 1 !important;
    }

    p {
        opacity: 1 !important;
    }

}

#carousel-1 {
    background-repeat: no-repeat !important;
    background-image: url("../images/Horizontal/bee-loaf.jpg") !important;
    background-size: 100%, 100VW;
}


#carousel-2 {
    background-repeat: no-repeat !important;
    background-image: url("../images/Horizontal/before-after-boule.png") !important;
    background-size: 100%, 100VW;
}

#carousel-3 {
    background-repeat: no-repeat !important;
    background-image: url("../images/Horizontal/cinnamon-roll-horizontal.jpg") !important;
    background-size: 100%, 100VW;
}

#carousel-4 {
    background-repeat: no-repeat !important;
    background-image: url("../images/veritcal/Hoagie.JPG") !important;
    background-size: 100%, 100VW;
}

#carousel-5 {
    background-repeat: no-repeat !important;
    background-image: url("../images/Garlic-Sesame.jpg") !important;
    background-size: 100%, 100VW;
}
